body {
    background-image: url("../img/crossword.png");
    background-repeat: repeat;
    /*padding-top: 50px;*/
    color: #404040;
    font-family: 'PT Serif';
}

.container.top-space {
    margin-top: 90px;
}

.jumbo-mountain-image {
    background-image: url("../img/mountian_landscape.JPG");
    background-repeat: no-repeat;
    background-position: 0 -650px;
    height: 500px;
}

.jumbo-layer-cover {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-color: rgba(30, 64, 127, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

.jumbo-mountain-image .container {
    margin-top: 45px;
}

.text-white {
    color: #fff;
}

.light-box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.line-divider {
    display: block;
    border: none;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider-black {
    background: #000;
}

.divider-white {
    background: #fff;
}

.crossword-bg {
    background-image: url("../img/crossword.png");
    background-repeat: repeat;
}


/***** Navbar Styling *****/
.navbar-top {
    position: absolute;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    display: block;
}

.navbar-logo {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-logo:hover,
.navbar-logo:focus {
    text-decoration: none;
}

.logo-box {
    border: 2px solid #dddddd;
    padding: 7px;
    border-radius: 5px;
    color: #dddddd;
}

.logo-box.dark {
    border: 2px solid #1C1C1C;
    padding: 7px;
    border-radius: 5px;
    color: #1C1C1C;
}

.info-section p {
    font-size: 18px;
}

/***** Some Column Percentage Stuff *****/
/* I know i gotsta clean this up */
.width-60 {
    width: 60%
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%
}

.connect-container a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}